label {
    margin-top: 10px;
}
input {
    box-sizing: border-box;
    width: 100%;
}
.contactFormWrapper {
    display: flex;
    flex-direction: column;
}
.name {
    width: auto;
}
.nameError {
    color: brown;
}
.number {
    width: auto;
}
.numberError {
    color: brown;
}
.container {
    max-width: 320px;
    min-width: 300px;
}
