.link {
    color: black;
}

.active {
    color: rgb(255, 0, 0);
    font-style: italic;
}
.userMenuList {
    display: flex;
    gap: 15px;
}
.userMenuItem {
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
}
